<?
	layout("/inc/layout.html",{title:"文档安全检查工具-任务管理",htmlType:"index",pageName:"home_index"}){
?>
<link rel="stylesheet" type="text/css" href="/css/task_warn_detail.css"/>
<div class="exhibit">
    <div class="menu left">
        <ul>
           <!-- <li>
                <img src="/img/task_03.png">
                <a href="/task/task_source.html">数据源管理</a>
            </li>-->
            <li>
                <img src="/img/task_06.png">
                <a href="/task/task_create.html">创建任务</a>
            </li>
            <li>
                <img src="/img/task_08.png">
                <a href="/task/task_list.html">任务列表</a>
            </li>
            <li>
                <img src="/img/task_10.png">
                <a href="javascript:;">记录列表</a>
            </li>
        </ul>
    </div>
    <div class="nbsy">
        <span>当前位置：密级管理  >  任务预警  </span>
        <input id="checkStatus" type="hidden" value="2"/>
        <div class="display_area">
            <h3 id="taskName"></h3>
            <table width="100%" cellspacing="0" cellpadding="0">
                <p class="right" href="#">
                    <input type="button" value="批量标准">
                    <input type="button" value="批量忽略">
                </p>
                <th width="5%"><input type="checkbox"></th>
                <th width="5%">序号</th>
                <th width="15%">文件名称</th>
                <th width="15%">原始密级</th>
                <th width="10%">预测密级</th>
                <th width="10%">确认密级</th>
                <th width="15%">创建人</th>
                <th width="15%"> 创建时间</th>
                <th width="20%">可操作</th>
                <tbody class="table_body" id="taskList">
                </tbody>
            </table>
            <div id="page" style="text-align: center;"></div>
            <div id="dataNull" style="height: 90px; line-height: 50px;" align="center"></div>
    </div>
</div>
<?
}
?>

<script>
    var requestId;
    $(function() {
        var curr = 1;
        requestId = GetRequest().id;
        getWarnRecordList(curr);
    })

    // 预览任务
    function checkRecordReview(id){
        layer.open({
            type : 2,
            area : [ '800px', '600px' ],
            scrollbar: true,
            //shadeClose: true,
            fix : true, //不固定
            title : '任务预览',
            //skin: 'layui-layer-rim', //加上边框
            btn: ['保存 ', '关闭'],
            content : ["task_record_view.html?id="+id,'no'],
            yes: function(index,layer){
                //得到iframe页的窗口对象
                var iframeWin = parent.window[layer.find('iframe')[0]['name']];
                iframeWin.Page();
            },
            cancel : function(index) {
            }
        });
    }

    // 获取请求参数
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    function getWarnRecordList(curr){
        $.ajax({
            type : "post",
            url : "/task/getWarnRecordList",
            data : {
                "pageNum":curr||1,
                "pageSize":10,
                "taskId":requestId,
                "checkStatus":$("#checkStatus").val()
            },
            dataType : "json",
            success : function(data) {
                if(data[0].data.length>0){
                    $("#dataNull").html("");
                }else{
                    $("#dataNull").html("<span style='font-size: 15px;'>暂无数据</span>");
                }
                var str = '';
                for(var i=0;i<data[0].data.length;i++){
                    str+='<tr><td><input type="checkbox" class="check check-one" value="'+data[0].data[i].id+'"></td>'
                        +'<td>'+(((curr||1)-1)*10+i+1)+'</td>'
                        +'<td>'+data[0].data[i].fileName+'</td>'
                        +'<td>'+data[0].data[i].originLabel+'</td>'
                        +'<td>'+data[0].data[i].checkLabel+'</td>'
                        +'<td>'+data[0].data[i].checkLabel+'</td>'
                        +'<td>'+data[0].data[i].createUser+'</td>'
                        +'<td>'+data[0].data[i].createTime+'</td>'
                        +'<td><button onclick="checkRecordReview('+data[0].data[i].id+')">浏览</button><button onclick="addOrEditTerm('+data[0].data[i].id+')">标注</button><button onclick="delTerm('+data[0].data[i].id+')">删除</button></td>' +
                        '</tr>';
                }
                $('#taskList').html(str);
                laypage({
                    cont : "page", //容器。值支持id名、原生dom对象，jquery对象,
                    pages : data[0].count, //总页数
                    skip : false, //是否开启跳页
                    curr : curr || 1,
                    first: '首页',
                    last: '尾页',
                    skin : 'molv', //加载内置皮肤，也可以直接赋值16进制颜色值，如:#c00
                    groups : 5,//连续显示分页数
                    jump : function(obj, first) { //触发分页后的回调
                        if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                            getWarnRecordList(obj.curr);
                            curr=obj.curr;
                        }
                    }
                });

            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }

</script>