.header ul li:nth-child(1){background: #1239bc;}
.menu a:nth-child(3){background: #1239bc;}
.menu a:nth-child(3) em {color: #fff;}
/*中间内容区*/
.nbsy{
	height:auto;
	/*height: 800px;*/
	padding-left:30px ;
	padding-right:64px ;
	background: #eff4f8;
	position: absolute;
	top: 120px;
	left: 210px;
}
.nbsy .spanhead{
	display: inline-block;
	margin: 20px 0 20px 0;
	color: #6495bb;
}
.nbsy select {
	width: 200px;
	height: 28px;
	border: 1px solid #aaa;
	margin-right: 40px;
	margin-bottom: 10px;
}
.nbsy .search {
	width: 40px;
	height: 28px;
	background: #2772d6;
	color: #fff;
	border-radius: 0;
	text-align: center;
	margin-left: -20px;
	border: none;
	cursor: pointer;
}
.nbsy span a{
	color: #6495bb;
}
.display_area{
	width: 100%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px 20px;
	margin-bottom: 40px;
}
.nbsy .tag{
	width: 210px;
	height: 76px;
	padding-left: 20px;
	/*line-height: 76px;*/
	border-radius: 6px;
	background: #317df5;
	margin-bottom: 20px;
}
.nbsy .tag h5{
	position: relative;
	display: inline-block;
}
.nbsy .tag h5 em{
	position: absolute;
	top: 27px;
	left: 26px;
	color: #4885e6;
	font-size: 16px;
	font-weight: bold;

}
.nbsy .tag img{
	margin-top: 4px;
}
.nbsy .tag i{
	color: #fff;
	font-size: 14px;
	margin-left: 20px;
}
.nbsy .tag strong{
	display: block;
	color: #ffae00;
	font-size: 18px;
	margin-top: -26px;
	margin-left: 120px;
}
.nbsy .display_area p{
	position: absolute;
	top: 132px;
	right: 38px;
}
.nbsy input{
	border: none;
	width: 70px;
	height: 30px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #839afc;
	color: #31478f;
	margin: 0 3px;
	font-size: 12px;
	cursor: pointer;
	
}
.nbsy table{
	/*height: 100%;*/
	background: #fff;
	/*border: 1px solid #2772d6;*/
	margin-bottom: 10px;
	/*padding: 80px 0 0;*/
	table-layout: fixed;
}
.nbsy table th{
	height: 46px;
	background: #416df9;
	font-size: 16px;
	color: #fff;
	
}
.nbsy table th input,.nbsy table tr input{
	width: 12px;
	height: 12px;
	background: #fff;
	border: 1px solid #317df5;
	cursor: default;
	
}
.nbsy table tr{
	height: 40px;
	text-align: center;
	font-size: 14px;
	/*box-shadow: 1px 1px 4px #f1f1f1;*/
}
.nbsy table tr:nth-child(even){
	background: #efefef;
}
.nbsy table tr td{padding: 5px 0;}
.nbsy table tr td button{
	background: none;
	border: none;
	margin: 3px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #2a58f4;
	cursor: pointer;
}
.nbsy  #pageNum{
    height: 60px;
    text-align: center;
  }
.nbsy  #pageNum p{display: inline-block;}
.nbsy  #pageNum p  a{
            height: 24px;
            margin: 0 10px;
            color: #2249ba;
       	 }    
.nbsy   #pageNum .pageNum_R input{width: 20px;height: 16px;}
.nbsy #pageNum .pageNum_R  a{ width: 20px;height: 16px; border: 1px solid #999; margin-left: 10px;color: #333;}
