<?
	layout("/inc/win_layout.html",{title:"文档安全检查工具-密级管理",htmlType:"index",pageName:"win_index"}){
?>
<div id="popBox">
    <div class="content">
        <label>密级名称:</label>
        <input id="name" name="name" maxlength="20" type="text" placeholder="请输入密级名称">
        <br/>
        <label>密级编号:</label>
        <input id="cnum" maxlength="20" name="cnum" type="text" placeholder="请输入密级编号">
        <br/>
        <label>密级等级:</label>
        <input id="level" maxlength="10" name="level" type="text" placeholder="(数值越小，优先级越高)">
        <br/>
        <label>状态:</label>
        <select id="isStoped">
            <option value="0">启用</option>
            <option value="1">禁用</option>
        </select>
        <br/>
        <label style="vertical-align:top;">说明:</label>
        <textarea id="detail" name="detail"></textarea>
        <br/>
    </div>

</div>


<?
}
?>

<script type="text/javascript">
    $(function() {
        if(GetQueryString('id') !=0){
            $("#cnum").attr("disabled","disabled");
            getClassify();
        }
        $('#cnum').keyup(function() {
            var temp_num =  $(this).val().replace(/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/g,'');
            temp_num =  $(this).val().replace(/\s+/g,"");
            $(this).val(temp_num);
        });
        $('#level').keyup(function() {
            var temp_level =  $(this).val().replace(/[^\d]/g, '');
            if (temp_level.indexOf(".") < 0 && temp_level != "") {
                temp_level = parseFloat(temp_level);
            }
            temp_level = temp_level == 0 ? "" : temp_level;
            $(this).val(temp_level);
        });
    });

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  encodeURI(r[2]); return null;
    }


    function Page() {
        if ($.trim($("#name").val()).length < 1) {
            layer.msg('密级名称不能为空');
            return null;
        }
        if ($.trim($("#cnum").val()).length < 1) {
            layer.msg('密级编号不能为空');
            return null;
        }
        if ($.trim($("#level").val()).length < 1) {
            layer.msg('密级等级不能为空');
            return null;
        }
        $.ajax({
            type : "post",
            url : "/addOrEditClassify",
            data : {
                "id" : GetQueryString("id"),
                "name" :$("#name").val(),
                "cnum" :  $("#cnum").val(),
                "level" :  $("#level").val(),
                "detail" :$("#detail").val(),
                "isStoped" :$("#isStoped").val()
            },
            dataType : "json",
            async : false,
            success : function(data) {
                if(data[0].description!=null && data[0].description!=''){
                    layer.msg(data[0].description);
                }else{
                    parent.layer.msg('保存成功');
                    var index = parent.layer.getFrameIndex(window.name);
                    window.parent.getClassifyList();
                    parent.layer.close(index);
                }
            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }
    //数据回显
    function getClassify() {
        $.ajax({
            type : "post",
            url : "/getClassify",
            dataType : "json",
            async:false,
            data :{
                "id":GetQueryString('id')
            },
            success : function(res) {
                $("#name").val(res[0].name);
                $("#cnum").val(res[0].cnum);
                $("#level").val(res[0].useLevel);
                $("#detail").val(res[0].detail);
                $("#isStoped").val(res[0].isStoped);
            }
        });
    };


</script>