<?
	layout("/inc/layout.html",{title:"文档安全检查工具-密级管理",htmlType:"index",pageName:"home_index"}){
?>
<link rel="stylesheet" type="text/css" href="/css/classify.css"/>
		<!--左侧二级菜单栏-->
<div class="exhibit">
		<div class="menu">
			<a href="classify.html">
				<img src="/img/secret_02.png">
				<em>密级配置</em>
			</a>
			<a href="triggers.html">
				<img src="/img/secret_11.png">
				<em>触发词管理</em>
			</a>
			<a href="corpus.html">
				<img src="/img/secret_13.png">
				<em>语料管理</em>
			</a>
			<a href="model.html">
				<img src="/img/secret_16.png">
				<em>模型管理</em>
			</a>
		</div>

		
		<!--内容区-->
		<div class="main">
			<span><a href="../home/index.html">首页 ></a><a href="classify.html">密级管理 </a> >  密级配置  </span>
			<ul id="classifyList">

			</ul>
		</div>
	</div>

<?
}
?>
<script>
    $(function(){
		getClassifyList();
    })
	function getClassifyList(){
        $.ajax({
            type : "post",
            url : "/getClassifyList",
            data : {

            },
            dataType : "json",
            success : function(data) {
                var str = '';
                for(var i=0;i<data.length;i++){
                    str+='<li><p>'+data[i].name+'</p><img src="/img/secret_08.png"><p><button onclick="addOrEditClassify('+data[i].id+')">编辑</button><button onclick="delClassify('+data[i].id+')">删除</button></p></li>';
                }
                str+='<li><span style="cursor: pointer;" onclick="addOrEditClassify(0)"><i>+</i></span></li>';
                $('#classifyList').html(str);
            },
            error : function(data) {
                alert("请求失败");
            }
        });
	}
	function addOrEditClassify(id){
        layer.open({
            type : 2,
            area : [ '600px', '500px' ],
            scrollbar: false,
            //shadeClose: true,
            fix : true, //不固定
            title : id==0?'新增密级':'编辑密级',
            //skin: 'layui-layer-rim', //加上边框
            btn: ['保存 ', '关闭'],
            content : ["classify_add_edit.html?id="+id,'no'],
            yes: function(index,layer){
                //得到iframe页的窗口对象
                var iframeWin = parent.window[layer.find('iframe')[0]['name']];
                iframeWin.Page();
            },
            cancel : function(index) {
            }

        });
	}
    function delClassify(id){
        layer.msg('确定删除吗', {
            time: 20000,
            btn: ['确定', '取消']
            ,yes:function(){
                $.ajax({
                    type : "post",
                    url : "/delClassify",
                    data : {
                        id: id,
                    },
                    dataType : "json",
                    success : function(data) {
                        if(data[0].description!=null&&data[0].description!=""){
                            layer.msg(data[0].description);
                        }else{
                            layer.msg("删除成功");
                            getClassifyList();
                        }
                    },
                    error : function(data) {
                        alert("请求失败");
                    }
                });
            }
        });
    }
</script>