<?
	layout("/inc/win_layout.html",{title:"文档安全检查工具-密级管理",htmlType:"index",pageName:"win_index"}){
?>

<div class="panel panel">
    <div class="panel-body pan" style="min-height: 220px;">
        <div class="form-body pal" >
            <input id="checkAll" style="margin-left: 5px;margin-top: 5px;" type="checkbox" onclick="checkAll()">全选

            <ul id="tree" class="ztree" style="overflow:auto;"></ul>
            <div id="dataNull" class="panel-body" style=" line-height: 50px;" align="center"></div>
        </div>
    </div>
</div>
<?}?>
<script type="text/javascript">
    $(function() {
        initTree()
    });
    function checkAll(){
        zTree = $.fn.zTree.getZTreeObj("tree");
        zTree.checkAllNodes(document.getElementById("checkAll").checked);
    }
    function initTree() {
        $.ajax({
            type : "post",
            url : "/getClassifyZTree.do",
            dataType : "json",
            beforeSend : function(XMLHttpRequest) {
            },
            success : drawTree,
        });
    }

    function drawTree(data) {
        var setting = {
            check: {
                enable: true,
                nocheckInherit: true,
                chkboxType: {"Y" : "", "N" : ""}
            },
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback : {
                onClick : onClick
            },
        };
        var zNodes = eval(data);
        if(data.length>0){
            $("#dataNull").hide();
        }else{
            $("#dataNull").html("<span class='subtitle' style=\"font-size: 15px;\">数据为空!</span>");
        }
        $.fn.zTree.init($("#tree"), setting, zNodes).expandAll(true);
        zTree = $.fn.zTree.getZTreeObj("tree");
        //zTree.checkAllNodes(true);
        zTree.expandNode(zTree.getNodes()[0], true);//指定某节点折叠
    }
    function onClick(e, treeId, treeNode) {
        classid = treeNode.id;
        classname = treeNode.name;
    }

    function Page(){
        var treeObj = $.fn.zTree.getZTreeObj("tree");
        var checkedNode = treeObj.getCheckedNodes();
        var menuids="";
        var menucnums="";
        for(var i=0;i<checkedNode.length;i++){
            if(checkedNode[i].id!=null){
                menuids+=checkedNode[i].id+";";
                menucnums+=checkedNode[i].cnum+";";
            }
        }
        if(menuids!=""){
            menuids=menuids.substr(0,menuids.length-1);
            menucnums=menucnums.substr(0,menucnums.length-1);
        }
        if (menuids != ''){
            var index = parent.layer.getFrameIndex(window.name);
            parent.$("#classifyIds").val(menuids);
            parent.$("#classifyCnums").val(menucnums);
            parent.layer.close(index);
        }else{
            layer.msg("请选择密级");
        }
    }
</script>