<link rel="stylesheet" type="text/css" href="/css/model.css"/>
<?
layout("/inc/layout.html",{title:"文档安全检查工具-密级管理",htmlType:"index",pageName:"home_index"}){
?>

<div class="exhibit">
	<div class="menu">
		<a  href="classify.html">
			<img src="/img/secret_01.png">
			<em>密级配置</em>
		</a>
		<a href="triggers.html">
			<img src="/img/secret_11.png">
			<em>触发词管理</em>
		</a>
		<a href="corpus.html">
			<img src="/img/secret_13.png">
			<em>语料管理</em>
		</a>
		<a href="model.html">
			<img src="/img/secret_15.png">
			<em>模型管理</em>
		</a>
	</div>

	<!--内容区-->
	<div class="main">
		<span class="spanhead"><a href="../home/index.html">首页 ></a><a href="classify.html">密级管理 </a> >  模型多版本管理  </span>
		<div class="model">
			<h3>模型基于机器学习方式训练，支持多个密级同时构建</h3>
			<p>本次训练密级包括：
				<button id="selectClass" onclick="getClassify()">选择</button>
				<input type="hidden" id="classifyIds" >
				<input type="hidden" id="classifyCnums" >
			<ul id="classify">
			</ul>
			</p>
			<i>版本号:V<em id="version">0.0</em></i>
			<button onclick="createBigVersion()" id="createV">创建大版本号</button><br>
			<button onclick="addModel()" id="createM">立即构建</button>
			<button id="cancelm" onclick="cancelModel()" style="display: none;">取消构建</button>
			<button id="confirmm" onclick="confirmModel()" style="display: none;">确认</button>
			<div class="progress">
				<div class="layui-progress layui-progress-big" lay-filter="progressBar">
					<div class="layui-progress-bar layui-bg-blue" lay-percent="0%"><span class="layui-progress-text">0%</span></div>
				</div>
			</div>
			<div  class="loading">
				<span id="infom" class="info" style="margin-left:2px;float:left;text-align:  center;font-size:  15px;line-height:  50px;"></span>
				<span class="loadspan" id="loadimg" style="display:none;"><img  src="/img/GIF.gif"></span>
			</div>
		</div>
		<div class="version">
			<h3>最近构建模型版本信息</h3>
			<i><button class="btn" onclick="delModel(0)">清空模型</button ><button class="btn" onclick="getModelListAll()">查看所有版本</button></i>
			<ul id="modelList">

			</ul>
		</div>
	</div>
</div>
<?
}
?>
<script>
    var element;
    $(function(){
        layui.use(['element','upload'], function(){
            var $ = layui.jquery;
            element = layui.element;
            getModelDetail();
        });
    })
    function getModelDetail(){
        $.ajax({
            type : "post",
            url : "/getModelDetail.do",
            data : {

            },
            dataType : "json",
            async:true,
            success : function(data) {
                var pro = data[0].model.modelStatus;
                if(data[0].model.id!=0&&pro<5){
                    var str ='';
                    var classifies = data[0].labels.split(';');
                    for(var c in classifies){
                        str += '<li><strong>'+classifies[c]+'</strong><img src="/img/secret_18.png"></li>';
                    }
                    $("#classify").html(str);
                    $('#version').html(data[0].model.version);
                    $("#selectClass").attr("style","display:none");
                    $("#createV").attr("style","display:none");
                    $("#createM").attr("style","display:none");
                    $("#cancelm").attr("style","display:inline");

                    var proc = 0;
                    if(pro==4){
                        $("#infom").html("发生异常");
                        $("#loadimg").attr("style","display: none;");
                    }else if(pro==3){
                        $("#infom").html("训练结束");
                        $("#confirmm").attr("style","display:inline");
                        $("#loadimg").attr("style","display: none;");
                        element.progress('progressBar', '100%');
                    }else{
                        if(pro==0){
                            $("#infom").html("开始构建");
                            proc=5;
                        }else if(pro==1){
                            $("#infom").html("文本解析中");
                            proc=30;
                        }else if(pro==2){
                            $("#infom").html("模型训练中");
                            proc=60;
                        }
                        element.progress('progressBar', proc+'%');
                        $("#loadimg").attr("style","display: inline;");
                        window.setTimeout('getModelDetail()',10000);
                    }
                }else{
                    $("#loadimg").attr("style","display: none;");
                    $("#selectClass").attr("style","display:inline");
                    $("#createV").attr("style","display:inline");
                    $("#createM").attr("style","display:inline");
                    $("#infom").html("");
                    $("#cm").attr("style","display:none");
                    $("#confirmm").attr("style","display:none");
                    getModelVersion();
                }
                getModelList();
            },
            error : function(data) {
            }
        });
    }
    function getModelVersion(){
        $.ajax({
            type : "post",
            url : "/getModelVersion",
            data : {

            },
            dataType : "json",
            async:true,
            success : function(data) {
                $('#version').html(data[0].version);
            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }
    function createBigVersion(){
        var version = $('#version').html();
        if(version!=null && version!=''){
            var num = Math.floor(Number(version))+1;
            $('#version').html(num.toFixed(1));
        }
    }
    function getClassify(){
        layer.open({
            type : 2,
            area : [ '400px', '300px' ],
            scrollbar: false,
            //shadeClose: true,
            fix : true, //不固定
            title : '密级选择',
            //skin: 'layui-layer-rim', //加上边框
            btn: ['确定 ', '关闭'],
            content : ["classify_ztree.html?",'no'],
            yes: function(index,layer){
                //得到iframe页的窗口对象
                var iframeWin = parent.window[layer.find('iframe')[0]['name']];
                iframeWin.Page();
                getClassifyIds();
            },
            cancel : function(index) {
            }

        });
    }
    function getClassifyIds(){
        $.ajax({
            type : "post",
            url : "/getClassifyByIds.do",
            data : {
                "classifyIds":$("#classifyIds").val(),
            },
            dataType : "json",
            async:true,
            success : function(data) {
                var str = '';
                for(var i = 0;i<data.length;i++){
                    str += '<li><strong>'+data[i].name+'</strong><img src="/img/secret_18.png"></li>';
                }
                $("#classify").html(str);
            },
            error : function(data) {
            }
        });
    }
    function getModelListAll(){
        layer.open({
            type : 2,
            area : [ '1200px', '600px' ],
            scrollbar: false,
            //shadeClose: true,
            fix : true, //不固定
            title : '模型列表',
            //skin: 'layui-layer-rim', //加上边框
            btn: ['确定 ', '关闭'],
            content : ["model_all.html?",'yes'],
            yes: function(index,layer){
                //得到iframe页的窗口对象
                var iframeWin = parent.window[layer.find('iframe')[0]['name']];
                iframeWin.Page();
                getClassifyIds();
            },
            cancel : function(index) {
            }

        });
    }
    function getModelList(){
        $.ajax({
            type : "post",
            url : "/getModelList",
            data : {
                "pageNum":1,
                "pageSize":4,
                "status":5
            },
            dataType : "json",
            async:true,
            success : function(data) {
                var str = '';
                for(var i=0;i<data[0].data.length;i++){
                    str+='<li><div class="box"><button class="bt" onclick="delModel('+data[0].data[i].id+')">×</button>'
                        +'<p>训练日期：'+data[0].data[i].createTime+'</p>'
                        +'<p>创建人：'+data[0].data[i].createUser+'</p>'
                        +'<p>版本号：V'+data[0].data[i].version+'</p>'
                        +'<p>训练密级范围：</p>';
                    var classifies = data[0].data[i].classifyNames.split(';');
                    for(var c in classifies){
                        str+='<span class="lispan"><img src="/img/secret_19.png"><em>'+classifies[c]+'</em></span>';
                    }
                    str+='</div></li>';
                }
                $('#modelList').html(str);
            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }
    function delModel(id){
        layer.msg(id==0?'确定清空吗':'确定删除吗', {
            time: 20000,
            btn: ['确定', '取消']
            ,yes:function(){
                $.ajax({
                    type : "post",
                    url : "/delModel",
                    data : {
                        id:id
                    },
                    dataType : "json",
                    success : function(data) {
                        layer.msg(id==0?'清空成功':'删除成功');
                        getModelVersion();
                        getModelList();
                    },
                    error : function(data) {
                        alert("请求失败");
                    }
                });
            }
        });
    }
    function cancelModel(){
        layer.msg('确定取消构建吗', {
            time: 20000,
            btn: ['确定', '取消']
            ,yes:function(){
                $.ajax({
                    type : "post",
                    url : "/cancelModel",
                    data : {

                    },
                    dataType : "json",
                    success : function(data) {
                        layer.msg('取消成功');
                        window.setTimeout('window.location.reload();',800);
                    },
                    error : function(data) {
                        alert("请求失败");
                    }
                });
            }
        });
    }
    function confirmModel(){
        $.ajax({
            type : "post",
            url : "/confirmModel",
            data : {

            },
            dataType : "json",
            success : function(data) {
                layer.msg('构建完成');
                window.setTimeout('window.location.reload();',800);
            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }
    function addModel(){
        if ($.trim($("#classifyIds").val()).length < 1) {
            layer.msg('请选择密级');
            return null;
        }
        $.ajax({
            type : "post",
            url : "/addModel",
            data : {
                "classifyCnums":$("#classifyCnums").val(),
                "version" : $('#version').html()
            },
            dataType : "json",
            async:true,
            success : function(data) {
                layer.msg("正在构建，请等待...");
                $("#loadimg").attr("style","display: inline;");
                getModelDetail();
            },
            error : function(data) {
                alert("请求失败");
            }
        });

    }

</script>