<?
	layout("/inc/win_layout.html",{title:"文档安全检查工具-密级管理",htmlType:"index",pageName:"win_index"}){
?>

<div id="popBox">
    <div class="content">
        <label>触发词名称:</label>
        <input id="name" maxlength="20" name="name" type="text" placeholder="请输入触发词名称">
        <br/>
        <label>密级分类:</label>
        <select id="classifyCnum" name="classifyCnum">
        </select>
        <br/>
        <label>启用状态:</label>
        <select id="isStoped">
            <option value="0">启用</option>
            <option value="1">禁用</option>
        </select>
        <br/>
    </div>

</div>
<?
}
?>

<script type="text/javascript">
    $(function() {
        getClassifyList();
        if(GetQueryString('id') !=0){
            getCword();
        }
    });

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  encodeURI(r[2]); return null;
    }

    function getClassifyList(){
        $.ajax({
            type : "post",
            url : "/getClassifyList",
            data : {

            },
            dataType : "json",
            async : false,
            success : function(data) {
                var str = '<option value="">请选择</option>';
                for(var i=0;i<data.length;i++){
                    str+='<option value="'+data[i].cnum+'">'+data[i].name+'</option>';
                }
                $('#classifyCnum').html(str);
            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }
    function Page() {
        if ($.trim($("#name").val()).length < 1) {
            layer.msg('触发词名称不能为空');
            return null;
        }
        if ($("#classifyCnum").val()=='') {
            layer.msg('密级分类不能为空');
            return null;
        }
        $.ajax({
            type : "post",
            url : "/addOrEditCword",
            data : {
                "id" : GetQueryString("id"),
                "name" :$("#name").val(),
                "classifyCnum" :  $("#classifyCnum").val(),
                "isStoped" :$("#isStoped").val()
            },
            dataType : "json",
            async : false,
            success : function(data) {
                if(data[0].type=='false'){
                    layer.msg('名称重复');
                }else{
                    parent.layer.msg('保存成功');
                    var index = parent.layer.getFrameIndex(window.name);
                    window.parent.getCwordList();
                    window.parent.getPublishNum();
                    parent.layer.close(index);
                }
            },
            error : function(data) {
                alert("请求失败");
            }
        });
    }
    //数据回显
    function getCword() {
        $.ajax({
            type : "post",
            url : "/getCword",
            dataType : "json",
            async:false,
            data :{
                "id":GetQueryString('id')
            },
            success : function(res) {
                $("#name").val(res[0].word);
                $("#classifyCnum").val(res[0].cnum);
                $("#isStoped").val(res[0].isStoped);
            }
        });
    };


</script>